<%= form_with(model: group) do |form| %>
<header class="bg-secondary text-white">
  <nav class="d-flex justify-content-between p-2 align-items-center text-reset">   
    <a href='/groups'><i class="fas fa-arrow-left fs-1 text-white"></i></a>
    <h3 class="m-0 p-0">Add New Category</h2>
    <%= form.submit "Savee", class: "nav-link fs-2" %>
  </nav> 
</header>
  <% if group.errors.any? %>
    <div style="color: blue">
      <h2><%= pluralize(group.errors.count, "error") %> stopped this group from being saved:</h2>
      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mt-4">
    <%= form.text_field :name, placeholder: "Name", class: "form-control rounded-0" %>
  </div>

  <div>
    <%= form.file_field :icon, placeholder: "Icon", class: "form-control rounded-0" %>
  </div>
<% end %>