<div class="shadow mb-3 p-3 " id="<%= dom_id group %>">
  <%= link_to group_path(group), class: "d-flex align-items-center  w-full gap-4 bg-white p-3 nav-link" do%>
  <% if group.icon.attached? %>
    <%= image_tag url_for(group.icon), class: "img-fluid img-thumbnail w-25" %>
    <% end %>
    <div class=" d-flex flex-column flex-fill justify-content-between ">
      <div class="d-flex justify-content-between align-items-center w-full">
        <h3 class="fs-1 text-primary "><%= group.name %></h3>
        <div class="fw-bold">
          $<%= group.entities.sum(:amount) %>
        </div>
      </div>

      <div class="opacity-25 align-self-start m-0"><%= group.created_at.strftime("%d %b %Y") %></div>
    </div>
  <% end %>
</div>