<header class="bg-primary text-white sticky-top">
  <nav class="d-flex align-items-center  justify-content-between p-3 text-center">
    <a href='/'><i class="fa-solid fa-arrow-left fs-1 text-white"></i></a>
    <h3>All transactions</h3>
    <i class="fa-solid fa-magnifying-glass text-white fs-1"></i>
  </nav>
</header>
<p style="color: blue"><%= notice %></p>
<% if current_user.id == @group.user_id %>
  <div class="d-flex flex-column">
    <%= render @group %>
    <div class="mx-auto">
      <%= button_to "Remove this Category", @group, method: :delete, class: "btn btn-outline-secondary"%>
    </div> 
  </div>
<% end %>
<h3 class="text-center mt-3">traansactions</h3>
<div>
  <% @group.entities.each do |entity| %>
  <% if current_user.id == entity.user_id %>
      <div class="d-flex flex-column   mb-5 shadow bg-body-primary p-3  rounded">
        <div class="d-flex justify-content-between align-items-center">
          <h3><%= entity.name %></h3>
          <p>$<%= entity.amount %></p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <span class="opacity-50"><%= entity.created_at.strftime("%d %b %Y") %></span>
          <%= button_to entity, method: :delete, class: "btn btn-link text-danger" do %>
          <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="d-flex flex-column align-items-center  fixed-bottom justify-content-center bg-success  text-center  w-100 p-3">
  <%= link_to "Add transaction", new_entity_path, class: "text-white w-100  nav-link border border-white  p-2" %>
</div>